<div class="row ">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <div class="box">
          <h2>Registrar curso</h2>
          <%= simple_form_for @curso do |c| %>
          <%= c.input :codigo %>
          <%= c.input :nombre %>
          <!-- <%= c.association :users, as: :check_boxes, label_method: :email%> -->
          <!-- <%= c.association :materias, as: :check_boxes, label_method: :nombre%> -->

          <%= c.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
