<%= link_to  materia_path(@materia), class: "btn btn-success btn-sm mt-2 mb-2" do %>
  <i class="fas fa-arrow-left"></i>
  Regresar
<% end %>
<h1 class="text-center">Todas las notas</h1>


<div class="col-md-4 mb-2">
  <div class="row">
        <div class="col">
        <%= link_to new_materia_nota_path(@materia,@nota), class: "btn btn-info btn-sm" do %>
            Nueva nota
            <%= fa_icon "plus" %>
        <% end %>
        </div>

        <div class="col">
        <%= link_to materia_notas_path(format: 'xlsx'), class: "btn btn-primary btn-sm" do %>
            <i class="fas fa-file-excel"></i>
            Generar Excel
        <% end %>
        </div>
    </div>
</div>
<h2>Promedio: <%= @promedio_estudiante %></h2>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="box">
                    <div class="table-responsive">
                        <table class="table">
                            <tr class="thead-dark">
                            <% if @notas.empty? %>
                                <th>Logro</th>
                                <th>Nota</th>
                              <% elsif %>
                                <th>Logro</th>
                                <th>Nota</th>
                                <th colspan="3">Acciones</th>
                              <% end %>
                            </tr>
                            <%= render @notas %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>